<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webforms">
            <tab>mageme</tab>
            <resource>MageMe_WebForms::settings</resource>
            <group id="klaviyo" translate="label comment" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Klaviyo Integration Add-on</label>
                <comment>General settings that are required to connect Klaviyo and Magento.</comment>
                <field id="public_token" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Public API Token</label>
                </field>
                <field id="private_token" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Private API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
